/*Investmentboard page*/
.InvestmentBoardHeader {
  margin-left: 5%;
  margin-top: 5%;
}

.InvestmentBoardStockContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ADD8E6;
}
.InvestmentBoardStockSymbol{
  font-size: 20px;
  padding-left: 5%;
}
.InvestmentBoardStockPrice{
  font-size: 18px;
}
.InvestmentBoardStockPct{
  font-size: 12px;
}
.InvestmentBoardStockPriceContainer{
  margin-right: 5%;
}
