.footerContainer {
  display: flex;
  position: fixed;
  top: 90%;
  height: 10%;
  font-size: 2.5rem;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #ADD8E6;
}

.highlighted{
  text-align: right;
  margin-right: 5%;
}

.hidden{
  display: none;
}
