.footerContainer {
  display: flex;
  position: fixed;
  top: 90%;
  height: 10%;
  font-size: 2.5rem;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #ADD8E6;
}


/*Investmentboard page*/
.InvestmentBoardHeader {
  margin-left: 5%;
  margin-top: 5%;
}

.InvestmentBoardStockContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ADD8E6;
}
.InvestmentBoardStockSymbol{
  font-size: 20px;
  padding-left: 5%;
}
.InvestmentBoardStockPrice{
  font-size: 18px;
}
.InvestmentBoardStockPct{
  font-size: 12px;
}
.InvestmentBoardStockPriceContainer{
  margin-right: 5%;
}

/*Find Stocks*/
.findStocksContainer{
  padding-left: 2%;
  padding-top: 5%;
}
.topPicks{
  display: flex;
  overflow: auto;
  margin-left: 5%;
  margin-right: 5%;
}
.findStockStockContainer{
  width: 200px;
  background-color: lightgray;
  border-radius: 2%;
  margin-right: 5%;
}

.topPicks::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.suggestedForYou{
  display: flex;
  overflow: auto;
  margin-left: 5%;
  margin-right: 5%;
}

.suggestedForYou::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.releventSearches{
  display: flex;
  overflow: auto;
  margin-left: 5%;
  margin-right: 5%;
}

.releventSearches::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.findStocksSearchContainer{
  padding: 2%;
  margin-left: 3%;
  border: none;
  background-color: gray;
  width: 94%;
}

.searchInput{
  width: 90%;
  border: 0;
  padding-left: 1%;
}

.green{
 color: green
}

.red{
  color: red
}

.findStocksStockName{
  padding: 2%;
  margin-left: 5%;
  margin-top: 5px;
  width: 95%;
}

.highlighted{
  text-align: right;
  margin-right: 5%;
}


.addModalContainer{
  position: absolute;
  background-color: rgba(150,150,150,0.3);
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100%;
  width: 100%;
}

.addModal {
  background-color: black;
  color: white;
  width: 80%;
  border-radius: 5px;
}
.modalCloseContainer {
  text-align: right;
  padding-right: 5%;
  font-size: 2rem;
}

.quantityOfStocks{
  width: 15%;

}

.removeModalContainer{
  position: absolute;
  background-color: rgba(150,150,150,0.3);
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100%;
  width: 100%;
}

.hidden{
  display: none;
}
